{% extends 'modumat_app/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% for q in all_questions %}
                    <a class="wizard-link" href="/question/{{ q.id }}">
                        <svg width=".5em" height=".5em" viewBox="0 0 16 16" class="bi bi-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8"/>
                        </svg>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="card" style="height: 600px">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title">{{ requested_question.title }}</h1>
                <p class="card-text">{{ requested_question.full_question }}</p>
                <form action="/answer/{{ requested_question.pk }}?nextquestion={{ next_question }}" method="post" class="mt-auto ml-auto">
                    <button type="submit" name="approval" value="-1" class="btn btn-secondary">Stimme nicht zu</button>
                    <button type="submit" name="approval" value="0" class="btn btn-secondary">Neutral</button>
                    <button type="submit" name="approval" value="1" class="btn btn-secondary">Stimme zu</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}