{% extends 'modumat_app/base.html' %}
{% block content %}
    <div class="container">
        <div class="card" style="min-height: 600px">
            <div class="card-body d-flex flex-column">
                <h1 class="card-title">Herzlich Willkommen!</h1>
                <p class="card-text">
                    Die Wahl der richtigen Wahlpflichtmodule fällt oft sehr schwer.
                    Die Auswahl ist groß und mit den Titeln kann man vielleicht noch nicht so viel anfangen
                    Hierbei soll der Modumat Abhilfe schaffen.
                    Dir werden im Folgenden einige Aussagen präsentiert, zu denen du deine persönliche Haltung eintragen kannst.
                    Danach zeigen wir dir, welche Module eine besonders hohe Übereinstimmung mit deinen Antworten haben.
                </p>
                <p class="card-text">
                    Aber Achtung! Die Modulantworten basieren überwiegend auf Erfahrungen der letzten Jahre.
                    Module können sich ändern und Einschätzungen der Inhalte von Person zu Person variieren.
                    Bitte mache deine Modulwahl nicht nur von einem Tool abhängig, sondern lies auch die Modulbeschreibungen im Vorlesungsverzeichnis und sprich mit anderen Studis darüber.
                </p>
                <div class="mt-auto ml-auto">
                    <a href="/question/{{first_question_id}}" class="btn btn-secondary">Start</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}